*{ 
      margin: 0; 
      font-family: 'Mulish', sans-serif;
}
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

  /* **************************** nav part ****************************  */
   nav{ 
     width: 80%; 
      margin: 50px auto;
   }
  
  .travel{ 
     display: flex; 
      align-items: center;
       gap: 20px;
  } 
   nav{ 
     display: flex; 
      justify-content: space-between; 
       align-items: center;
   }
   .nav-heading{ 
     color: #131318; 
      font-size: 2.25rem; 
       font-weight: 800;
   } 
     nav ul{ 
         display: flex; 
          
    } 
     nav li{ 
         list-style: none; 
        
     }  
      nav li a{ 
         text-decoration: none; 
          color: #424247;  
           margin-right: 15px; 
            font-weight: 400;  
             font-size: 1.25rem;
           
      } 
       span{ 
         color: #FF5400 ;
       }
/* *************************** banner style *****************************  */ 
 .banner{ 
     background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),

     url('Images/Group\ 13\ \(1\)\ \(1\).png'); 
     width: 1200px; 
       height: 400px; 
       margin: 50px auto;
        border-radius: 16px;
     
         background-repeat: no-repeat; 
          text-align: center;  
           padding-top: 100px;
 } 
.banner-heading{ 
     font-size: 3.5rem; 
      font-weight: 800; 
       color: white; 
        margin-bottom: 10px;
} 
 .banner-pera{ 
     color: white; 
      font-weight: 400; 
       line-height: 25px;
 }

  /* ************ from stye***************************************  */ 
    .frist-form-part{ 
         margin-top: 70px; 
         border-radius: 8px;
         background: rgba(255, 255, 255, 0.30); 
          padding: 20px 0; 
           width: 60%;   
            margin-left: 200px;
        
        
        }
  
  
  
  .frist-form-part .where-go{ 
     width: 150px; 
  border:  none; 
   outline: none;
       padding: 16px;
        color: rgba(19, 19, 24, 0.50);
        border-radius: 8px;
       background: #FFF;
   } 
.frist-form-part select, .option { 
     padding: 10px; 
      width: 170px; 
       border-radius: 8px; 
        background-color: #fff; 
         color: rgba(19, 19, 24, 0.50) ; 
          outline: none; 
           height: 50px; 
            border: none;
} 
 .button1{ 
    color: white; 
     background-color: #FF5400; 
      padding: 10px; 
       width: 170px; 
        height: 50px; 
         border-radius: 8px; 
          border: none;
 } 
 /* **************************** main section ******************************  */
   .popular-tour{ 
     display: flex; 
     justify-content:space-between; 
    
       width: 80%;
         margin: 80px auto; 
          gap: 40px; 
           
   } 
    .popular-trip{ 
         font-size: 2.5rem; 
          color: #131318;  
           font-weight: 800;
           margin-bottom: 40px; 
            
    } 
    .popular-pera{ 
         color: rgba(19, 19, 24, 0.70); 
          margin-bottom: 20px;
           line-height: 25px;
    }
          .popular-heading li{ 
             color:rgba(19, 19, 24, 0.70) ; 
              font-weight: 400; 
               margin-bottom: 40px; 
                line-height: 25px;
          }
           .button2{ 
            color: white; 
            background-color: #FF5400; 
             padding: 10px; 
              width: 170px; 
               height: 50px; 
                border-radius: 8px; 
                 border: none; 
                  font-size: 1.3rem;
           }
/* ***************************** main second part ***********************   */

 
 .destination{ 
     text-align: center; 
      color: #131318; 
       font-size: 2.3rem; 
        font-weight: 800; 
         margin-bottom: 20px;
 } 
  .destination-pera{ 
     text-align: center;  
      color:rgba(19, 19, 24, 0.70); 
       font-weight: 400; 
        line-height: 25px;
  }
  .destination-picture{
     width: 80%; 
      margin-left: 170px; 
       margin-top: 50px; 
       
     }
    .destination-picture img{ 
         padding: 10px; 
        
    }
    /* ************************** main third part ***************************  */
     .choose-div{ 
        margin-top: 50px;
     }
    
    .choose-heading{ 
        text-align: center; 
         margin-bottom: 10px;
         color: #131318; 
         font-size: 2.3rem; 
          font-weight: 800;
     } 
      .chosse-pera{ 
         text-align: center;
        color: rgba(19, 19, 24, 0.70); 
       font-weight: 400; 
        line-height: 25px;
      }
      


      .cart-div{ 
         display: flex; 
          margin: 50px auto 25px auto;
           gap: 20px;
            width: 80%; 
      }
      .handpiked{ 
        width: 573px;
        height: 284px;
        border-radius: 16px;
       border: 1px solid rgba(251, 181, 99, 0.20);
      background: rgba(251, 181, 99, 0.05);
        
      }
      .world-class{ 
        width: 573px;
      height: 284px;
      border-radius: 16px;
      border: 1px solid rgba(41, 206, 246, 0.20);
      background: rgba(41, 206, 246, 0.05);
      }
      .cart-two-rows{  
         margin: 0 auto 35px auto;
        width: 573px;
        height: 284px;
        border-radius: 16px;
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
      } 
       .hotel-img{ 
         margin: 32px 0 32px 32px ;
       }
       .handpiked-heading{ 
         color: #131318; 
          font-size: 1.5rem; 
           margin: 0 0 16px 32px;
       }
        .handpiked-pera{ 
            width: 486px;
            color: #5A5A5D; 
             line-height: 25px; 
              font-weight: 400; 
               margin-left: 32px; 
            
             
        }

        /* *************************** sign in part and picture-part ********************  */
                       
              .sign-and-picture-part{ 
                 display: flex; 
                  gap: 50px; 
                   margin: 100px 140px;
              }
        
                  .sign-in-under-part{ 
                        margin: 20px;
                        }
        
                       .sign-in{ 
                            width: 474px;
                            height: 422px;
                            border-radius: 16px;
                            border: 1px solid #FF5400;
                        } 
                       .last-from>.last-input{ 
                             display: block;
                        }
                        .news{ 
                             color: #131318; 
                              font-size: 1.5rem; 
                               font-weight: 800; 
                                margin-bottom: 16px;
                        }
                        .sign-in-pera{ 
                            width: 350px;
                            color: #5A5A5D; 
                             font-weight: 400; 
                              margin-bottom: 20px;
                        } 
                        .form-horizontal{ 
                             width: 430px;
                             color:  rgba(254, 254, 255, 0.1);
                           
                         } 
                          .last-from{ 
                             margin-top: 25px;
                          } 
                           .last-input1{ 
                            width: 393px;
                           
                            border-radius: 8px;
                            background: rgba(19, 19, 24, 0.05); 
                             color: rgba(19, 19, 24, 0.30); 
                              font-weight: 400; 
                               margin-bottom: 16px; 
                                border: none;
                                 padding: 20px;
                           }
                           .last-input2{ 
                            width: 393px;
                          
                            border-radius: 8px;
                            background: rgba(19, 19, 24, 0.05); 
                             color: rgba(19, 19, 24, 0.30); 
                              font-weight: 400; 
                               border: none; 
                                padding: 20px;
                                margin-bottom: 24px;
                           }
                           .button3{ 
                             background-color: #FF5400;
                             width: 430px;
                              padding: 20px; 
                               border-radius: 8px; 
                                border: none; 
                                 color: #FFF; 
                                  font-weight: 800; 
                                   font-size: 1.25rem;
                           } 
                            


                  .try-div1{ 
                     height: 100px; 
                      width: 315px ;  
                       border-radius: 8px; 
                       background-color: #FF5400; 
                     transform: rotate(-30deg); 
                     position: relative; 
                      top: 250px;
                       left: 350px;
                    
                    }  

                  
                    .travel{ 
                     color: white; 
                      font-size: 1.5rem;
                       font-weight: 400; 
                       justify-content: center; 
                       padding-top: 10px; 
                       
                   } 
                    .discount{ 
                         color: white; 
                          font-size: 2rem; 
                           font-weight: 800;
                          text-align: center;
                    }  
                     .try-div{ 
                         background-image: url('Images/Rectangle\ 8\ \(1\).png'); 
                         width: 672px;
                         height: 422px;
                       
                     }  


                      /* ******************** footer part *********************** */
                       footer{ 
                        width: 100%;
                        height: 500px;
                        background: rgba(19, 19, 24, 0.05);
                       }
                        .footer-header{
                             font-weight: 800; 
                              font-size: 2rem; 
                             
                        }
                        .footer-frist-part{ 
                             display: flex; 
                              gap: 10px; 
                              justify-content: center; 
                             padding-top: 100px;
                        } 
                          .footer-pera{  
                             padding-top: 10px;
                             color: #5A5A5D; 
                              text-align: center;
                          } 
                           .logo{  
                             margin-top: 50px;
                             text-align: center;
                           } 
                            .logo>img{ 
                                 padding-right: 10px;
                            } 
                             .horizantal{ 
                              width:50%;  
                               margin: 50px auto;  
                             } 
                               .copyright{ 
                                 color: #131318; 
                                  font-weight: 300; 
                                   text-align: center;
                               }


             /* ************** media quary use ***************************  */ 
              @media screen and (max-width:576px) { 


                 /* **************** nav and banner part ******************  */
                
                nav{
                     flex-direction: column;
                 } 
                  nav ul{ 
                     padding: 5px;
                  }
                  .nav-heading{ 
                     font-size: 1.5rem;
                  }
                  nav ul a{ 
                      font-size: 15px;  
                    
                  } 
                   .banner{ 
                     width: 335px; 
                      margin-top: 10px; 
                       padding-top: 20px;
                   }
                .banner-heading{ 
                     font-size: 1.5rem; 
                 
                } 
                 .banner-pera{ 
                     font-size: 14px;
                 } 
                 .frist-form-part{ 
                     margin-left:20px; 
                       margin-top: 10px;  
                       width: 300px;
                        
                  } 
                  .frist-form-part .where-go{ 
                    padding: 16px 10px; 
                      margin-bottom: 5px;
                      width: 230px;
                   } 
                   .frist-form-part select, .option {
                        margin-bottom: 5px;  
                         width: 255px;
                    } 
                     .button1{
                         width: 255px;
                     } 
 /* ************************** main frist part *************  */
                     .popular-tour{ 
                    flex-direction: column;
                     }
                  .popular-tour-img img{ 
                     width: 300px;
                     height: 342px;
                  }
                  .popular-tour{ 
                    margin: 20px auto;
                  }
                  .popular-pera{ 
                     margin-bottom: 10px;
                  }
                  .popular-heading li{
                     margin-bottom: 20px;
                  } 
                  .popular-trip{
                     font-size: 1.25rem; 
                     margin-bottom: 10px;
                  }



                  /* *******************************main second part **************  */
                   .destination-picture{ 
                     display: flex; 
                      flex-direction: column;  
                     margin-left: 18px; 
                      margin-top: 10px; 
                      
                   
                       
                   } 
                    .destination-picture img{ 
                         width: 335px; 
                          height: 175px;
                          padding: 10px 0;
                    }
                    .destination{ 
                         font-size: 1.25rem;
                    }
                    .destination-pera{ 
                         font-size: .9rem;
                          width: 309px; 
                           margin: 10px auto;
                    }
                
                   
                   
 /* ************************ main third part *****************  */ 
 .choose-heading{ 
    font-size: 1.25rem;
}  
 .chosse-pera{ 
     font-size: 0.9rem;
     width: 300px; 
      margin-left: 40px;
 }
 
 .cart-div{ 
     flex-direction: column;
     margin: 25px 25px 25px 20px;
 } 
  .handpiked,.world-class,.cart-two-rows{ 
    width: 335px;
    height: 289px;
   
  }
  .handpiked-pera{
    width: 271px;
     font-size: .9rem;
  }
  .handpiked-heading{
     font-size: 1.25rem;
  }
  .hotel-img{ 
    margin: 20px 0 20px 20px ;}
.cart-two-rows{ 
     margin: 0 0 0 20px;
}
.hotel-img{ 
    margin: 32px 0 32px 32px ;}

            
    

     /* ************  this is discount part ***********  */ 

     .sign-and-picture-part{ 
         flex-direction: column; 
          flex-wrap: wrap; 
           margin: 50px 20px; 
     }

     .last-img{ 
        width: 335px;
        height: 300px;
        
     }  
     .sign-in{ 
        width: 335px;
        height: 429px;
     } 
      .sign-in-pera{ 
         width: 270px;
      } 
       .form-horizontal{ 
         width: 288px;
       }
        .last-input1,.last-input2{ 
             width: 250px;
             
        } 
          .button3{ 
             width: 290px;
          }
         .try-div{  
           background-size: cover;
            
            width: 336px;  
            border-radius: 2%;
            
          }  
           .try-div1{ 
             position: relative; 
              top: 290px; 
               left: 110px; 
                width: 215px; 
                 height: 80px;
           } 
            .discount{ 
                 font-size: 1.5rem; 
                  font-weight: 600;
            } 
            .travel{ 
                 font-size: 1.25rem;
            }



             /* ****************** footer *********************  */

         
             
        
             .footer-header{ 
                 font-size: 1.25rem;
             }
            footer{ 
                width: 375px;
                height: 309px;
               
                
            }  
             .footer-pera{  
                 margin-left: 40px;
                width: 287px;
                 font-size:0.9rem ;
             }
             .footer-frist-part>img{ 
                width: 28.724px;
                height: 33.516px;
               
             } 
              .footer-frist-part{ 
                 padding-top: 20px;
              }
                  .logo>img{ 
                     height: 24px; 
                    
                  }
                  .logo{ 
                     margin-top: 30px;
                  } 
                    .horizantal{ 
                         margin: 20px auto;
                    }
              }